<p id="notice"></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="field row text-center col-md-2">
      <h1 style="font-size: 3rem; font-weight: bold;">About</h1>
    </div>
    <div class="field row text-center col-md-12 mt-4 " style="margin-left: 200px;">
      <h4>自然に囲まれたサウナ限定！<br>
      おすすめなサウナスポットを共有できるコミュニティサイトです。<br>
      「行ってみて最高だった！」「整った〜。」を多くの方に共有してみませんか？<br>
      いいね！コメント機能もあるので、ご気軽に交流してみてください。<br>
      サウナ山で、ホッと癒される場所へ。</h4>
    </div>
    <div class="field row text-center col-md-12">
      <%= image_tag 'sauna-about.jpg', size: "900x500", style: "margin-top: 20px; margin-left: auto; margin-right: auto;"%>
    </div>
  </div>
</div>